:root{
    font-family: Lato;
}
body{
    background-color: #fff;
}
h1{
    font-size: 2.75rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.25rem;
}

h5{
    font-size: 1.1125rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    margin: 20px 10%;

    /* border: 1px solid blue; */
}

nav .logo{
    width: 150px;
    /* border: 1px solid red; */
}

nav ul li{
    display: inline-block;
    margin-left: 30px;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        margin-bottom: 50px;
    }
    nav .logo{
        /* border: 1px solid green; */
        text-align: center;
        margin: auto;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 15px;
    }
}

main{
    margin: 50px 10%;
}

.big-banner{
    height: 550px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.big-banner .img-section-1{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}
.big-banner .img-section-1 .horse-1{
    width: 45%;
    height: inherit;
    align-self: center;

}
.big-banner .img-section-1 .horse-2{
    width: 45%;
    height: inherit;
    align-self: stretch;

}
.big-banner .img-section-1 .horse-1 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.big-banner .img-section-1 .horse-2 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}
.big-banner .img-section-2{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}

.big-banner .img-section-2 .horse-3{
    width: 45%;
    height: inherit;
    align-self: stretch;
}
.big-banner .img-section-2 .horse-4{
    width: 45%;
    height: inherit;
    align-self: center;
}

.big-banner .img-section-2 .horse-3 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.big-banner .img-section-2 .horse-4 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.big-banner .banner-section{
    width: 40%;
    flex-shrink: 1;

}
.big-banner .banner-section h1{
    z-index: 1;
    font-size: 7.75rem;    
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-family: 'Yeseva One', cursive;
    color: #e69509;
}
.big-banner .banner-section p{
    text-align: center;
}
@media (max-width: 800px) and (min-width: 600px )  {
    .big-banner .banner-section h1{
        font-size: 4.75rem;
        margin: 30px auto;    
    }
}
@media (max-width: 1000px) and (min-width: 800px )  {
    .big-banner .banner-section h1{
        font-size: 5.10rem;
        margin: 30px auto;    
    }
}
@media screen and (max-width: 600px) {
    .big-banner{
        height: auto;
        flex-direction: column;
        
    }
    .big-banner .img-section-1{
        width: 80%;
        flex-direction: column;
        align-self: center;
        margin-bottom: 10px;
        
    }
    .big-banner .banner-section{
        width: 90%;
        margin: 50px auto;
    
    }
    .big-banner .banner-section h1{
        font-size: 3.25rem;
        margin: 30px auto;    
    }
    .big-banner .banner-section p{
        margin-bottom: 30px auto;
    }
    
    .big-banner .img-section-2{
        width: 80%;
        flex-direction: column;
        align-self: center;
        margin-bottom: 20px;
        
    }
    .big-banner .img-section-1 .horse-1{
        width: 100%;
        margin: 20px auto;
    
    }
    .big-banner .img-section-1 .horse-2{
        width: 80%;
        margin: 20px auto;
    }
    .big-banner .img-section-1 .horse-1 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .big-banner .img-section-1 .horse-2 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        
    }
    
    
    .big-banner .img-section-2 .horse-3{
        width: 80%;
        margin-bottom: 50px;
    }
    .big-banner .img-section-2 .horse-4{
        width: 80%;
        margin-bottom: 50px;
    }
    
    .big-banner .img-section-2 .horse-3 img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .big-banner .img-section-2 .horse-4 img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    
    
 
}


.other-section{
    margin-bottom: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-section .horse-5{
    width: 32%;
    align-self: flex-end;

}
.other-section .horse-5 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.other-section .message{
    width: 28%;
    align-self: center;
}

.other-section .message .message-1 h1{
    font-size: 3.8rem;    
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-family: 'Yeseva One', cursive;
    color: #e69509;
}

.other-section .horse-6{
    width: 32%;
    height: 400px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.other-section .horse-6 .horse-section{
    width: 70%;
    align-self: flex-end;
    margin-bottom: 50px;
}

.other-section .horse-6 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .other-section{
        height: auto;
        flex-direction: column;
        flex-wrap: no-wrap;
    }
    
    .other-section .horse-5{
        width: 90%;
        margin: 50px auto;
    }
    .other-section .horse-5 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .other-section .message{
        width: 90%;
        margin: 50px auto;
    }
    
    .other-section .message .message-1 h1{
        font-size: 2.25rem;    
    }
    
    .other-section .horse-6{
        width: 90%;
        margin: 50px auto;
    }
    
    .other-section .horse-6 .horse-section{
        width: 70%;
       
    }
    
    .other-section .horse-6 img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.join-us{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 300px;
}

.join-us .special-paragraph{
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.join-us .join-btn button{
    /* height: 40px; */
    padding: 15px 30px;
    border: 1px solid #e69509;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: white;
    color: #e69509;
    cursor: pointer;
    
}

@media screen and (max-width: 620px) {
    .join-us{
        margin-right: 0px;
    }
}



